@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin:0;
    padding:0;
}

h1{
    padding-left:60px;
    background-color: darkslateblue;
    border-radius: 5px;
    color:white;
    font-family: 'Bebas Neue', cursive;
    
}

ul{
    list-style: none;
    margin : 20px;
}

li{
    margin:25px;
    background-color: #DCDCDC;
    height: 40px;
    border-radius: 5px;
    
}
.list-container{
    align-items: center;
}



.task-btn{
    display: flex;
    justify-content: space-around;
   
}

